.email-verification-container {
    max-width: 800px;
    max-height: 800px;
    margin: 5px auto;
    padding: 20px;
    
    border-radius: 8px;
    text-align: center;
    background-color: #f0e6e6;
    width: 400px;
    height: 300px;
  }
  @media (max-width: 600px) {
    .email-verification-container {
      width: 90%; /* Adjust the width for smaller screens */
    }
  }
  
  
  /* Add media query for smaller screens */
  .email-verification-text {
    border: 2px solid hsl(252, 85%, 23%); /* Add border styles here */
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block; /* Make it inline-block to wrap the border around the text */
  }
  @media (max-width: 600px) {
    .email-verification-container {
      width: 90%;
    }
  }
  .email-head-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: dark;
  font-size:23px; /* Adjusted font size */
  color: #16141b; /* Adjusted text color */
  margin-bottom: 3%;
  text-align: center; 
  border: #050105;
  font-weight: bold;
  }
  .enter-otp-text {
    font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
  font-size:18px; /* Adjusted font size */
  color: #121010; /* Adjusted text color */
  margin-bottom: 5px;
  margin-top: 25px;
  text-align: left; 
  align-items:flex-end;
  font-weight: bold;/* Optional: Add margin to separate from other elements */
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Adjusted the minimum height for better responsiveness */
    background: radial-gradient(circle, #100665, #050105, #09026d);
    width:auto;
     /* Use the same path as imported above */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: green ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #86d0b0;
  }
  